#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.modal-header {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
}